.sfm-topbar {
    height: 46px;
    line-height: 46px;
    background-color: #F6F3EE;
}

.sfm-topbar .login,
.sfm-topbar .register {
    display: inline-block;
    width: 36px;
    position: relative;
}

.sfm-topbar .register {
    text-align: right;
}

.sfm-topbar a {
    display: block;
    font-size: 14px;
    color: #517E3B;
}

.sfm-topbar .login span {
    position: absolute;
    width: 1px;
    height: 10px;
    top: 18px;
    right: 0;
    background-color: #517E3B;
}

.sfm-topbar input {
    width: 166px;
    height: 20px;
    margin-left: 16px;
    border: none;
    background: url(../images/searchbox.png) no-repeat center center;
    padding-left: 10px;
    padding-right: 30px;
}

.sfm-topbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sfm-topbar li {
    position: relative;
    float: left;
    padding: 0 6px;
}

.sfm-topbar .wechat {
    padding: 0 14px;
}

.sfm-topbar .mobile {
    padding-left: 20px;
    text-align: right;
}

.sfm-topbar li.line {
    width: 1px;
    height: 12px;
    background-color: #ddd;
    margin-top: 18px;
    padding: 0;
}

.sfm-topbar li a {
    display: block;
}

.sfm-topbar li:hover a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000
}

.help-menu {
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 46px;
    left: 0;
    z-index: 1;
    height: 0;
    box-shadow: 2px 2px 8px #ccc;
}

.help-menu li {
    float: right;
}

.help-menu li:first-child {
    margin-right: 4%;
}

.help-menu li a:hover {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}

.classify-knowledge {}

.classify-knowledge li {
    float: left;
}

.classify-knowledge li:first-child {
    margin: 0;
    margin-left: 20%;
}

/* ==================================header区域结束 */

/* ===============================导航条 */

.sfm-nav {
    background-color: #fff;
    padding: 68px 0 38px 0;
}

.sfm-nav .navbar-brand {
    color: #777;
    margin-top: -30px;
    padding: 15px 0;
}

.sfm-nav .navbar-brand:hover,
.sfm-nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.sfm-nav .navbar-text {
    color: #777;
}

.sfm-nav .navbar-nav {
    width: 100%;
}

.sfm-nav .navbar-nav>li {
    width: 18%;
}

.sfm-nav .navbar-nav>li.logo-li {
    width: 28%;
    margin-top: -30px;
}

.sfm-nav .navbar-nav>li>a {
    color: #72726F;
    font-size: 18px;
    padding: 0;
    text-align: center;
}

.sfm-nav .navbar-nav>li>a:hover,
.sfm-nav .navbar-nav>li>a:focus {
    color: #333;
    background-color: transparent;
}

.sfm-nav .navbar-nav>.active>a,
.sfm-nav .navbar-nav>.active>a:hover,
.sfm-nav .navbar-nav>.active>a:focus {
    color: #000;
}

.sfm-nav .navbar-nav>.disabled>a,
.sfm-nav .navbar-nav>.disabled>a:hover,
.sfm-nav .navbar-nav>.disabled>a:focus {
    color: #ccc;
    background-color: transparent;
}

.sfm-nav .navbar-toggle {
    border-color: #ddd;
    border: none;
}

.sfm-nav .navbar-toggle:hover,
.sfm-nav .navbar-toggle:focus {
    background: none;
}

.sfm-nav .navbar-toggle .icon-bar {
    background-color: #888;
}

.sfm-nav .navbar-collapse,
.sfm-nav .navbar-form {
    border-color: #e7e7e7;
}

.sfm-nav .navbar-nav>.open>a,
.sfm-nav .navbar-nav>.open>a:hover,
.sfm-nav .navbar-nav>.open>a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .sfm-nav .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }
    .sfm-nav .navbar-nav .open .dropdown-menu>li>a:hover,
    .sfm-nav .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #333;
        background-color: transparent;
    }
    .sfm-nav .navbar-nav .open .dropdown-menu>.active>a,
    .sfm-nav .navbar-nav .open .dropdown-menu>.active>a:hover,
    .sfm-nav .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .sfm-nav .navbar-nav .open .dropdown-menu>.disabled>a,
    .sfm-nav .navbar-nav .open .dropdown-menu>.disabled>a:hover,
    .sfm-nav .navbar-nav .open .dropdown-menu>.disabled>a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.sfm-nav .navbar-link {
    color: #777;
}

.sfm-nav .navbar-link:hover {
    color: #333;
}

.sfm-nav .btn-link {
    color: #777;
}

.sfm-nav .btn-link:hover,
.sfm-nav .btn-link:focus {
    color: #333;
}

.sfm-nav .btn-link[disabled]:hover,
fieldset[disabled] .sfm-nav .btn-link:hover,
.sfm-nav .btn-link[disabled]:focus,
fieldset[disabled] .sfm-nav .btn-link:focus {
    color: #ccc;
}

/* ===============================导航条结束 */

/* =============================轮播图 */

.sfm-banner .carousel-indicators {
    left: 70%;
    margin-left: 0;
    width: 30%;
    bottom: 0px;
}

.sfm-banner .carousel-indicators li {
    border: 0 none;
    background-color: #fff;
    margin-left: 16px;
}

.sfm-banner .carousel-indicators .active {
    background-color: #46CA67;
}

@media (max-width: 767px) {
    .sfm-nav {
        background-color: rgba(5, 0, 1, .7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    .sfm-nav .navbar-toggle {
        margin-top: 0;
    }
    .sfm-nav .navbar-toggle .icon-bar {
        width: 70px;
        margin-top: 20px;
    }
    .sfm-nav .navbar-toggle .icon-bar:first-child {
        margin-top: 0;
    }
    .sfm-banner .container {
        padding: 0;
    }
    .sfm-banner .carousel-indicators {
        left: 50%;
        margin-left: -40%;
        width: 80%;
    }
    .sfm-banner .carousel-indicators li {
        width: 90px;
        height: 2px;
    }
    .sfm-nav .navbar-nav>li {
        padding: 10px 0;
        width: 100%;
    }
    .sfm-nav .navbar-nav>li:hover {
        background-color: rgba(5, 0, 1, .3);
        width: 100%;
        border-radius: 20px;
    }
    .sfm-nav .navbar-nav>li:hover a {
        color: #fff;
    }
    .sfm-nav .navbar-nav {
        margin: 0;
    }
    .sfm-nav .container>.navbar-collapse {
        margin: 0;
        padding: 0;
    }
}

/*============================= 轮播图结束 */

/* ========================环保贡献 */

.product-title {
    text-align: center;
    padding-top: 106px;
    color: #231815;
}

.product-title p:first-child {
    font-size: 28px;
}

.product-title p:last-child {
    font-size: 15px;
}

.environment-items {
    background-color: #46C864;
    padding: 0 0 60px 0;
}

.environment-items .container {
    padding: 0;
}

.environment-items .container .col-sm-3 {
    padding: 0;
}

.environment-items .num {
    color: #fff;
    font-size: 22px;
}

.environment-items .details {
    font-size: 16px;
    color: #fff;
}

.environment-items div {
    text-align: center;
    margin-top: 60px;
}

/* ========================环保贡献结束*/

/* =====================变废为宝 */

.treasure-items {
    background-color: #fff;
}

.treasure-items .treasure-items-wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.treasure-items-wrap ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

.treasure-items-wrap ul li {
    float: left;
    padding: 0 10px;
    width: 33.33%;
    min-width: 200px;
    margin-top: 60px;
}

.treasure-items-wrap img.treasure-img {
    width: 100%;
}

.treasure-items-wrap li p {
    line-height: 78px;
    margin-top: 14px;
    font-size: 18px;
    color: #231815;
    border-bottom: 2px solid #E1E1E1;
}

.treasure-items-wrap li div.details {
    margin-top: 42px;
    font-size: 15px;
    height: 60px;
    color: #231815;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

div.direction-right {
    margin-top: 5px;
}

.treasure-slide-items ul li {
    width: 100%;
}

.sfm-btn {
    text-align: center;
    width: 100%;
    height: 100px;
}

.read-more {
    width: 160px;
    height: 24px;
    border-radius: 12px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #517E3B;
    text-align: center;
    color: #517E3B;
    font-size: 15px;
    margin-top: 38px;
}

.read-more:hover {
    text-decoration: none;
    color: #517E3B;
}

.read-more .right {
    display: inline-block;
    line-height: 24px;
}

.two-second-animate {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.treasure-banner .treasure-img {
    width: 100%;
}

/* =====================变废为宝结束 */

/* =======================积分兑换 */

.sfm-integral {
    background-color: #F9F9F9;
    padding-bottom: 120px;
}

.sfm-integral .container div {
    padding: 0;
}

.sfm-integral .container .item-msg {
    border: 1px solid #517E3B;
}

.sfm-integral .product-title {
    padding-top: 52px;
    padding-bottom: 60px;
    background-color: #F9F9F9;
}

.sfm-integral .integral-items .description {
    text-align: center;
    margin-left: -1px;
}

.mt {
    margin-top: -1px;
}

.sfm-integral .integral-items .description .item-num {
    font-size: 60px;
    color: #000;
    margin: 0;
    padding: 12% 20%;
}

.sfm-integral .integral-items .description .item-num span {
    border-bottom: 1px solid #000;
    display: inline-block;
    width: 100%;
}

.sfm-integral .integral-items .description .item-content {
    font-size: 20px;
    color: #000;
    margin: 0;
}

.sfm-integral img {
    width: 100%;
    border: 1px solid #517E3B;
}

.sfm-slogen img {
    width: 100%;
}

.sfm-integral .read-more {
    width: 170px;
}

/* =======================积分兑换结束 */

.sfm-slogen {
    height: 310px;
    width: 100%;
    background: url(../images/slogan_02.png) no-repeat center center;
}

@media(max-width:400px) {
    .sfm-integral .integral-items .description .item-num {
        font-size: 45px;
    }
    .sfm-integral .integral-items .description .item-content {
        font-size: 18px;
    }
}

/* ==============================分类知识 */

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sfm-classified {
    padding-bottom: 70px;
}

.sfm-classified .product-title {
    padding-bottom: 60px;
}

.sfm-classified ul li {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-top: 10px;
}

.sfm-classified ul li img {
    width: 100%;
}

.classified-items div {
    width: 100%;
    /* height: 138px; */
    overflow: hidden;
}

.classified-items img {
    transition: all 1s;
}

.classified-items img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.sfm-classified ul li a {
    display: block;
    background-color: #F7F9F7;
    border: 1px solid #E4E6E3;
}

.sfm-classified ul li a:hover {
    text-decoration: none;
}

.sfm-classified ul li p {
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0;
}

.classified-slide-items ul li {
    width: 100%;
}

.classified-slide-items img:hover {
    -webkit-transform: none;
    transform: none;
}

.classified-carousel .carousel-control {
    position: absolute;
    top: -33px;
    bottom: 0;
    left: auto;
    right: 10px;
    width: 25px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #E0DFDF;
    filter: alpha(opacity=100);
    opacity: 1;
    height: 25px;
}

.classified-carousel .carousel-control.left {
    right: 38px;
}

/* ==============================分类知识结束 */

/* ========================活动详情 */

.sfm-activity {
    width: 100%;
    height: 764px;
    background: url(../images/activity.jpg) no-repeat center center;
    background-size: cover;
}

.sfm-activity .container {
    padding: 0 20px;
}

.sfm-activity .activity,
.sfm-activity .work {
    padding: 20px;
    margin-top: 60px;
}

.sfm-activity .activity-content {
    background-color: #F9F9F9;
    padding: 48px 70px 20px 70px;
}

.sfm-activity .activity-content.mobile-css {
    padding: 0;
}

.sfm-activity .activity-content .content-title {
    background-color: #89C92A;
    line-height: 54px;
    text-align: center;
    position: relative;
    color: #fff;
    font-size: 26px;
}

.sfm-activity .activity-content .content-title p.p-img {
    position: absolute;
    width: 44px;
    height: 44px;
    background-color: #fff;
    text-align: center;
    line-height: 44px;
    top: 4px;
    left: 4px;
}

.sfm-activity .activity-content .content-title span {
    font-size: 28px;
    color: #231815;
}

.sfm-activity .activity-content .content-title p.subtitle {
    font-size: 20px;
    color: #231815;
    text-align: center;
}

.sfm-activity .activity-content .content-info {
    margin-top: 20px;
}

.sfm-activity .activity-content .content-info .office {
    width: 100%;
}

.sfm-activity .activity-content .content-info .info-title {
    color: #231815;
    margin-top: 10px;
    font-size: 20px;
}

.sfm-activity .activity-content .content-info .info-detail {
    font-size: 14px;
    overflow: hidden;
    color: #808080;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.sfm-activity .activity-content .content-info .direction-right {
    margin-top: 20px;
}

.sfm-activity .sfm-btn a {
    color: #fff;
    background-color: #89C92A;
    border: none;
    float: right;
    margin-right: -50px;
}

.sfm-activity .sfm-btn a.mobile-css {
    background-color: #fff;
    border: 1px solid #89C92A;
    color: #89C92A;
    float: "none";
    margin-right: 0;
}

.sfm-activity .sfm-btn a:hover {
    text-decoration: none;
}

@media (max-width: 991px) {
    .sfm-activity {
        height: auto;
    }
}

@media (max-width: 767px) {
    .sfm-activity {
        background: #fff;
    }
    .sfm-activity .activity-content {
        background-color: #Fff;
    }
    .sfm-activity .activity-content .content-title {
        background-color: #fff;
        color: #000;
    }
    .sfm-activity .activity-content .content-title.mobile-css {
        background-color: #F5F6F6;
        padding: 20px 0;
    }
    .sfm-activity .activity-content .content-info .info-title {
        font-size: 34px;
    }
    .sfm-activity .activity-content .content-info .info-detail {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .sfm-activity .activity-content {
        padding: 20px 30px;
    }
    .sfm-activity .sfm-btn a {
        margin-right: -29px;
    }
}

.sfm-activity .activity-content .content-info .p-line {
    width: 80%;
    height: 2px;
    background-color: #888686;
    margin: 20px 0;
}

.sfm-activity .sub-content {
    font-size: 16px;
    font-weight: 700;
    color: #060001;
    margin-top: 0;
    line-height: 16px;
}

.sfm-activity .sub-content-mt {
    margin-top: 20px;
}

.sfm-activity .content-title .span-bor {
    display: inline-block;
    line-height: 60px;
    border-bottom: 1px solid #888686;
}

/* ========================活动详情结束 */

/* ===========================践行者语录 */

.sfm-quotations .top-box {
    position: relative;
    height: 396px;
}

.sfm-quotations .top-box .img-box {
    width: 45%;
    float: left;
}

.sfm-quotations .top-box .img-box img {
    width: 100%;
}

.sfm-quotations .mobile-img-box img {
    width: 100%;
}

.sfm-quotations .top-box .quo-box {
    width: 55%;
    float: right;
}

.sfm-quotations .bot-box {
    width: 55%;
    float: right;
}

.sfm-quotations .bot-box img {
    width: 25%;
    float: left;
}

.sfm-quotations .container {
    margin-top: 60px;
}

.sfm-quotations .col-md-4 {
    padding: 0;
    bottom: 0;
}

.sfm-quotations .col-md-4 img {
    width: 100%;
}

.sfm-quotations .col-md-8 {
    padding: 0;
    margin-left: 33.33%;
}

.quotations-top {
    padding: 0 10%;
}

.quotations-top h2 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

.quotations-box {
    margin-top: 5%;
}

.quotations-box .quotations-mascot {
    float: left;
    width: 20%;
    margin-top: -5%;
    margin-right: 5%;
}

.quotations-box .quotations-mascot img {
    margin-top: 10px;
    width: 100%;
}

.quotations-box .quotations-info {
    width: 75%;
    font-size: 12px;
    margin-left: 5%;
    height: 160px;
    overflow: hidden;
}

.quotations-box .quotations-info p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 12px;
}

.quotations-btn {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.quotations-btn p {
    text-align: right;
    margin: 0;
    margin-bottom: 2px;
}

.quotations-btn p span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #E3E3E3;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}

.quotations-bot {
    position: relative;
}

.quotations-shares {
    color: #fff;
    width: 25%;
    background-color: #89C92A;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.quotations-shares-mobile {
    color: #fff;
    width: 25%;
    background-color: #89C92A;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

@media(max-width:400px) {
    .quotations-shares-mobile {
        padding: 5px;
    }
}

.quotations-bot img {
    width: 25%;
    float: left;
}

.quotations-mobile {
    position: relative;
    width: 100%;
}

.quotations-mobile .quotations-shares-mobile {
    float: none;
}

.quotations-mobile .quotations-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.quotations-bot .quotations-shares-mobile {
    font-size: 11px;
}

.quotations-shares p {
    margin: 0;
    margin-bottom: 2px;
    font-size: 11px;
}

@media (max-width: 767px) {
    .quotations-top h2 {
        margin-left: 12%;
        font-size: 16px;
    }
    .quotations-mobile .quotations-shares-mobile {
        width: 33.33%;
    }
    .quotations-top {
        padding: 0;
        position: relative;
        margin-top: 40px;
    }
    .quotations-box .quotations-mascot {
        position: absolute;
        top: -11%;
    }
    .quotations-bot img {
        width: 33.33%;
    }
    .quotations-box .quotations-mascot {
        width: 12%;
        margin-top: 0;
    }
    .quotations-box .quotations-mascot img {
        width: 100%;
    }
    .quotations-box .quotations-info {
        margin-left: 12%;
        margin-bottom: 10%;
    }
}

/* ===========================践行者语录结束 */

/* ==========================底部区域 */

footer {
    height: 270px;
    line-height: 270px;
    background-color: #F6F3EE;
}

footer div.logo {
    width: 20%;
    float: left;
}

footer .footer-list {
    width: 64%;
    float: left;
    text-align: center;
    margin-right: 6%;
}

footer .code {
    width: 10%;
    float: right;
    text-align: right;
}

footer .code img {
    width: 100%;
}

footer .logo a {
    display: block;
}

footer .logo a img {
    width: 100%;
}

.footer-list a {
    display: inline-block;
    font-size: 16px;
    color: #000;
}

.footer-list a:hover {
    text-decoration: none;
}

.footer-list li {
    display: inline-block;
}

.footer-list span.line {
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #bbb;
    padding: 0;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: -2px;
}

/* ==========================底部区域结束 */

/* =========================768显示的底部 */

.footer {
    background-color: #F6F3EE;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
}

.footer-code {
    margin-top: 20px;
}

.footer-code p {
    font-size: 14px;
}

.footer .footer-list {
    display: inline-block;
    width: 260px;
    margin-top: 30px;
    font-family: "simsun";
    font-size: 12px;
}

.footer .footer-list .line {
    background-color: #bbb;
}

/* =========================768显示的底部结束 */