/* 分类知识-塑料类样式 */

.plastic-product .items {
    margin-top: 80px;
    overflow: hidden;
}

.plastic-product img {
    width: 100%;
}

.plastic-product .items-1 {
    background-color: #F7F7F7;
    overflow: hidden;
}

.plastic-product .sprite-img {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.plastic-product .sprite-img img {
    width: 100px;
}

.plastic-product .items-1 .content {
    text-indent: 2em;
    font-size: 15px;
}

.plastic-product .items-2 {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.items-2 .item-title {
    font-size: 28px;
    margin-bottom: 80px;
}

.plastic-product .items-3 .content {
    margin-top: 100px;
}

.plastic-product .items-4 .content {
    margin-top: 50px;
}

.plastic-product .items-4 {
    margin-bottom: 100px;
}

.plastic-product .item-subtitle {
    font-size: 20px;
    color: #231815;
}

@media(max-width:767px) {
    .plastic-product .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .plastic-product .items-1 {
        background-color: #fff;
        overflow: hidden;
    }
    .plastic-product .items-1 .col-sm-5 {
        background-color: #F7F7F7;
    }
    .plastic-product .items-1 .col-sm-6 {
        padding-top: 10%;
    }
    .plastic-product .items-2 {
        border: 1px solid #000;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .plastic-product .items-2 .item-title {
        margin-bottom: 5%;
        text-align: center;
    }
    .plastic-product .items-2 .content {
        padding-left: 2%;
        padding-right: 2%;
    }
    .plastic-product .items-2 {
        padding-left: 5%;
        padding-right: 5%;
    }
    .plastic-product .items-2 p {
        background-color: #EEEEEF;
        text-align: left;
        margin: 0;
        padding-bottom: 2%;
    }
    .plastic-product .items-3 .col-sm-5 {
        text-align: center;
    }
    .plastic-product .items-3 img {
        width: 60%;
    }
    .plastic-product .items-3,
    .plastic-product .items-4 {
        background-color: #f7f7f7;
    }
}