@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <title>登录页面</title>
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../lib/animate/animate.min.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <link href="../css/login.css" rel="stylesheet">
    <!--[if lt IE 9]>
     <script src="../lib/bootstrap/html5shiv.min.js"></script>
     <script src="../lib/bootstrap/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <section class="login-main mobile-product">
        <div class="container pc-container hidden-xs">

            <div class="row">
                <div class="login-form col-xs-10 col-xs-offset-1">
                    <div class="col-sm-8 col-sm-offset-2 items">
                        <div class="login-title item-title">
                            <a href="Register">
                                <span class="glyphicon glyphicon-triangle-left pull-left"></span>
                            </a>

                            <span class="">账号登录</span>
                            <a href="PhoneLogin">
                                <span class="glyphicon glyphicon-triangle-right pull-right"></span>
                            </a>
                        </div>
                        <form action="">
                            <div class="login-acount">
                                <div class="content">
                                    <div class="img-box">
                                        <img src="../images/login-01.png" alt="">
                                        <span class="line pull-right"></span>
                                    </div>
                                    <input id="txtPhone" type="text" placeholder="账号">
                                </div>
                            </div>
                            <div class="login-password">
                                <div class="content">
                                    <div class="img-box">
                                        <img src="../images/login-02.png" alt="">
                                        <span class="line pull-right"></span>
                                    </div>
                                    <input id="txtPassword" type="password" placeholder="密码">
                                </div>
                            </div>
                            <div class="login-details">

                                <div class="col-xs-4">
                                    <label>
                                        <input id="Remember_me" value="Remember_me" type="checkbox" name="">
                                        <a class="remember">
                                            记住密码
                                        </a>
                                    </label>

                                </div>
                                <div class="col-xs-3">
                                    <a href="Register">
                                        注册账户
                                    </a>
                                </div>
                                <div class="col-xs-3">
                                    <a href="GetPassword" class="small-size">
                                        找回密码
                                    </a>
                                </div>

                            </div>
                            <div class="login-btn text-center">
                                <div class="i-btn">
                                    <a id="aLogin" href="#" class="item-title">
                                        登录
                                    </a>
                                </div>
                            </div>
                            <div id="lbTip" style="color:green; text-align:center; margin-top:5px;">&nbsp;</div>
                        </form>
                    </div>
                </div>
                <div class="common-title qcode-title col-sm-10 col-sm-offset-1 col-xs-12 items hidden-sm hidden-xs">


                    <div class="col-xs-12 ">
                        <div class="col-xs-5">
                            <div class="line"></div>
                        </div>
                        <div class="col-xs-2 text-center">
                            <p>二维码登录</p>
                        </div>

                        <div class="col-xs-5">
                            <div class="line"></div>
                        </div>
                    </div>




                </div>
                <div class="common-title qcode-title col-sm-12  col-xs-12 items hidden-lg hidden-md hidden-xs">


                    <div class="col-xs-12 ">
                        <div class="col-xs-4">
                            <div class="line"></div>
                        </div>
                        <div class="col-xs-4 text-center">
                            <p>二维码登录</p>
                        </div>

                        <div class="col-xs-4">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-xs-offset-4 text-center mt-20">
                    <img class="img-qcode" src="@ViewBag.QRInfo["Url"]" alt="" width="200" height="200">
                    <div id="img_footer" style="color:green; text-align:center; margin-top:5px;">&nbsp;</div>
                    <input type="hidden" id="hidRndNum" value="@ViewBag.QRInfo["RndNum"]"/>
                </div>

            </div>
        </div>
        <div class="container mobile-product visible-xs">
            <div class="items items-1 clearfix">
                <a href="#" class="pull-left">
                    <p>关闭</p>
                </a>
                <a href="register.html" class="pull-right">
                    <p>注册</p>
                </a>
            </div>
            <div class="items items-2">
                <div class="icon-box">
                    <div class="icon">
                        <img src="../images/login-mobile-icon.png" alt="">
                    </div>
                </div>
            </div>
            <form action="">
                <div class="login-acount">
                    <div class="content">
                        <div class="img-box">
                            <img src="../images/login-mobile-01.png" alt="">
                        </div>

                        <input type="text" placeholder="账号">
                    </div>
                </div>
                <div class="login-password">
                    <div class="content">
                        <div class="img-box">
                            <img src="../images/login-mobile-02.png" alt="">
                        </div>
                        <input type="password" placeholder="密码">
                    </div>
                </div>
                <div class="login-details">
                    <div>
                        <label>
                            <input type="checkbox" name="">
                            <a class="remember">记住密码</a>
                        </label>
                    </div>
                </div>
                <div class="login-btn text-center">
                    <div class="i-btn items">
                        <a href="login.html">
                            <p>登录</p>
                        </a>
                    </div>

                </div>

                <div class="find-password items">
                    <a href="get-password.html">
                        <p>找回密码</p>
                    </a>
                </div>
            </form>
            <div class="common-title qcode-title items">
                <div class="col-xs-12 ">
                    <div class="col-xs-4">
                        <div class="line"></div>
                    </div>
                    <div class="col-xs-4 text-center qcode-box">
                        <p>二维码登录</p>
                    </div>

                    <div class="col-xs-4">
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-xs-offset-4 text-center mt-20">
                <img class="img-qcode" src="../images/login-mobile-qcode.png  " alt="">
            </div>

        </div>
    </section>
    <script src="../lib/jquery/jquery.min.js "></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js "></script>
    <script src="../js/jquery.cookie.js "></script>
    <script src="../js/login.js"></script>
</body>

</html>